@use '../../styles/system/mixins' as mx;
@use '../../styles/tokens/spacing' as s;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  left: 0;
  width: 100%;

  z-index: var(--header-z-index, 999);

  padding-inline: s.$space-s;
  height: var(--header-height, 65px);

  @include mx.mq(break-768) {
    padding-inline: s.$space-xl;
    height: var(--header-height-desktop, 85px);
  }

  @include mx.mq(break-1024) {
    padding-inline: s.$space-xxl;
  }

  &-logo {
    padding-block: s.$space-s;
  }

  &__langs {
    @include mx.centered;
    flex-direction: row;
    gap: s.$space-s;
    padding: s.$space-s;
    cursor: pointer;

    &:hover .header__langs-icon {
      transform: rotate(360deg);
    }

    &-icon {
      display: none;
      width: 40px;
      transition: transform 1s ease;
      transform-origin: center;

      @include mx.mq(break-768) {
        display: flex;
        width: 50px;
      }
    }
  }
}
