@use '../../styles/system/mixins' as mx;
@use '../../styles/tokens/spacing' as s;
@use '../../styles/tokens/radii' as r;
@use './tp-header' as *;
@use '@/components/Header/base-header.scss' as *;

.header {
  --header-bg-start: #C9EAFF;
  --header-bg-end: #A2BBFF;
  
  padding-inline: 0;
  justify-content: space-between;
  background: linear-gradient(
      to right,
      var(--header-bg-start),
      var(--header-bg-end)
    );

  &-logo {
    .kts-logo__text {
      @include header-logo;
    }
  }

  &-slogan {
    @include header-slogan;
    display: none;
    text-align: center;
    white-space: nowrap;

    @include mx.mq(break-1440) {
      display: flex;
    }
  }

  &-focus-bar {
      --header-focus-bg: #9AB5FF;
      
      @include header-focus;
      display: none;
      
      @include mx.mq(break-834) {
        --header-focus-bar-border: #93ACFB;
        
        @include mx.centered;
        gap: s.$space-s;
        background: var(--header-focus-bg);
        border: 1px solid var(--header-focus-bar-border);
        padding-block: 12px;
        padding-inline: s.$space-m;
        border-radius: var(--radius-m);
      }
      
      &__icon {
        width: clamp(30px, 3vw, 35px);
        opacity: 0.8;
      }
      
      &__progress {
      --header-focus-bar-bg: #CEDBFF;
      width: 100px;
      height: 12px;
      background-color: var(--header-focus-bar-bg);
      border-radius: 999px;
      overflow: hidden;
      
      &-fill {
        --header-focus-bar-fill-start: #6366F1;
        --header-focus-bar-fill-end: #60A5FA;

        width: 80%;
        height: 100%;
        background: linear-gradient(
          to right,
          var(--header-focus-bar-fill-start),
          var(--header-focus-bar-fill-end)
        );
      }
    }
  }

  &__langs {
    --header-chang-lang-bg: #739FFF66;

    height: 100%;
    background: var(--header-chang-lang-bg);
    border-radius: var(--radius-xl);

    &-text {
      @include header-lang-select;
    }
  }
}
