@use '../../styles/system/mixins' as mx;
@use '../../styles/typography/index' as *;
@use '../../styles/tokens/index.scss' as *;

:root {
  --footer-title-350: 24px;
  --footer-title-768: 32px;

  --footer-link-350: 20px;
  --footer-link-768: 24px;

  --footer-copyright-350: 14px;
  --footer-copyright-768: 24px;
}

@mixin footer-title {
  font-size: var(--footer-title-350);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.05em;

  @include mx.mq(break-768) {
    font-size: var(--footer-title-768);
  }
}

@mixin footer-link {
  font-size: var(--footer-link-350);
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  color: var(--white);

  @include mx.mq(break-768) {
    font-size: var(--footer-link-768);
  }
}

@mixin footer-copyright {
  font-size: var(--footer-copyright-350);
  font-weight: var(--font-weight-medium);

  @include mx.mq(break-768) {
    font-size: var(--footer-copyright-768);
  }
}
