@use '../../styles/system/mixins' as mx;
@use '../../styles/tokens/spacing' as s;
@use './tp-header' as *;

.header {
  --header-bg: #FB6515;
  --header-text: #FFD9B8;
  --header-buttons-radius: 28px;
  --header-buttons-bg: #F4A676;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg);
  color: var(--header-text);

  position: sticky;
  z-index: var(--z-index-lang-header);
  width: 100%;
  top: 0;
  left: 0;

  padding-inline: s.$space-s;
  padding-block: s.$space-xs;
  height: 65px;
  

  @include mx.mq(break-768) { 
    padding-inline: s.$space-xl;
    height: 75px;
  }
  @include mx.mq(break-1024) { 
    padding-inline: s.$space-xxl;
  }

  &-logo {
    padding-block: s.$space-xs;
    
    .kts-logo__text {
      @include header-logo;
    }
    
    background-color: var(--header-buttons-bg);
    border-radius: var(--header-buttons-radius);

    @include mx.mq(break-768) {
      height: 65px;
    }
  }

  &__font-controls {
    @include mx.centered;
    flex-direction: row;
    flex-wrap: wrap;
    gap: s.$space-xs;
  }

  &__font-control {
    --header-font-control-radius: 16px;
    @include header-font-control;
    padding-inline: s.$space-s;
    padding-block: s.$space-xs;
    border-radius: var(--header-font-control-radius);
    border: none;
    background: var(--header-buttons-bg);
    color: var(--header-text);
    transition: background 0.2s ease;
    cursor: pointer;

    &:hover {
      --header-font-control-hover-bg: #f39a62;
      background-color: var(--header-font-control-hover-bg);
    }
  }

  &__font-auto {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease, background 0.2 ease;
  }

  &__font-auto.is-visible {
    opacity: 1;
    pointer-events: auto;
  }

  &__langs {
    @include mx.centered;
    flex-direction: row;
    gap: s.$space-s;
    padding: s.$space-s;
    border-radius: var(--header-buttons-radius);
    cursor: pointer;
    
    &:hover .header__langs-icon {
      transform: rotate(360deg);
    }
    
    @include mx.mq(break-768) {
      background-color: var(--header-buttons-bg);
      padding-inline: s.$space-m;
    }

    &-text {
      @include header-lang-select;
    }

    &-icon {
      display: none;
      transition: transform 1s ease;
      transform-origin: center;

      @include mx.mq(break-768) {
        display: flex;
        width: 50px; 
      }
    }
  }
}