@use '../../styles/system/mixins' as mx;
@use '../../styles/tokens/spacing' as s;
@use './tp-header' as *;

.header {
  --header-bg: #FB6515;
  --header-text: #FFD9B8;
  --header-buttons-radius: 28px;
  --header-buttons-bg: #F4A676;

  background-color: var(--header-bg);
  color: var(--header-text);

  &-logo {
    background-color: var(--header-buttons-bg);
    border-radius: var(--header-buttons-radius);
    
    .kts-logo__text {
      @include header-logo;
    }    
  }

  &__font-controls {
    @include mx.centered;
    flex-direction: row;
    flex-wrap: wrap;
    gap: s.$space-xs;
  }

  &__font-control {
    --header-font-control-radius: 16px;
    @include header-font-control;
    padding-inline: s.$space-s;
    padding-block: s.$space-xs;
    border-radius: var(--header-font-control-radius);
    border: none;
    background: var(--header-buttons-bg);
    color: var(--header-text);
    transition: background 0.2s ease;
    cursor: pointer;

    &:hover {
      --header-font-control-hover-bg: #f39a62;
      background-color: var(--header-font-control-hover-bg);
    }
  }

  &__font-auto {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease, background 0.2 ease;
  }

  &__font-auto.is-visible {
    opacity: 1;
    pointer-events: auto;
  }

  &__langs {
    border-radius: var(--header-buttons-radius);
    cursor: pointer;

    @include mx.mq(break-768) {
      background-color: var(--header-buttons-bg);
    }

    &-text {
      @include header-lang-select;
    }
  }
}