:root {
  // TEXT COLORS
  --text-primary: #FFFFFF;
  --text-purple-title: #A26FFF;
  --text-subline: #A794FF;

  // --text-logo: #8231FB;
  --text-logo: #8c40ff;
  
  // LAYOUT 
  --header-footer-bg: #18032B;
}
