@use '../../styles/system/mixins' as mx;
@use '../../styles/tokens/spacing' as s;
@use './tp-manifesto' as *;
@use '../../styles/typography/tp-headings' as h;

.manifesto {
  @include mx.centered;
  flex-direction: column;
  gap: s.$space-xxxl;
  padding-inline: s.$space-xs;
  padding-block: s.$space-xxxl;
  background-color: var(--white);

  @include mx.mq(break-768) {
    padding-inline: s.$space-xxxl;
  }
  @include mx.mq(break-1280) {
    height: 100vh;
  }

  &__title {
    @include h.h2;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 100px;

    &-text {
      @include manifesto-text;
    }
  }
}

