@use '../../../styles/system/mixins' as mx;
@use '../../../styles/typography/index' as *;
@use '../../../styles/tokens/index.scss' as *;
:root {
  --clarity-hint-350: 20px;
  --clarity-hint-768: 36px;
}

@mixin clarity-hint {
  --clarity-hint: #7cafc8;

  font-size: var(--clarity-hint-350);
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.05em;
  color: var(--clarity-hint);

  @include mx.mq(break-768) {
    font-size: var(--clarity-hint-768);
  }
}
