@use '../../styles/system/mixins' as mx;
@use '../../styles/tokens/spacing' as s;
@use './tp-header' as *;

.header {
  background-color: var(--header-footer-bg);

  &-logo {
    .kts-logo__icon {
      width: 50px;
      color: var(--text-logo);
    }

    .kts-logo__text {
      @include header-logo;
    }
  }

  &__langs {
    --langs-bg: #0A0110;

    background-color: var(--langs-bg);
    border-radius: var(--main-radius);
    height: 100%;

    &-text {
      @include header-lang-select;
    }

    &-icon {
      color: #F1EEFF;
    }
  }
}
