@use '../../styles/system/mixins' as mx;
@use '../../styles/typography/tp-base' as *;
@use '../../styles/tokens/index.scss' as *;

:root {
  --lang-page-lang-350: 20px;

  --lang-page-geography-350: 28px;

  --lang-page-internal-350: 24px;

  --lang-page-close-350: 60px;
}

@mixin lang-page-lang {
  font-size: var(--lang-page-lang-350);
  font-weight: var(--font-weight-bold);
}

@mixin lang-page-geography {
  font-size: var(--lang-page-geography-350);
  font-weight: var(--font-weight-bold);
}

@mixin lang-page-internal {
  font-size: var(--lang-page-internal-350);
  font-weight: var(--font-weight-bold);
}

@mixin lang-page-close {
  font-size: var(--lang-page-close-350);
  font-weight: var(--font-weight-medium);
  line-height: 50%;
}
